/*
 * SPDX-FileCopyrightText: 2026 mucookul <mucookul@gmail.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/* eslint-disable css/no-invalid-properties -- ESlint's simply hallucinating, we know those variables are defined */

:root {
    --copy-btn-color: var(--color-white);
    --copy-btn-color-hover: var(--color-zinc-100);
}

:root.dark {
    --copy-btn-color: var(--color-black);
    --copy-btn-color-hover: var(--color-zinc-900);
}

[data-pre-wrapper] {
    position: relative;

    & > pre.astro-code {
        padding-right: 3.75rem;
    }

    & > button[data-copy-button] {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        cursor: pointer;
        border-radius: 0.25rem;
        font-style: normal;
        background-color: var(--copy-btn-color);
        transition-property: background-color;
        transition-duration: 50ms;

        &:hover {
            background-color: var(--copy-btn-color-hover);
        }
    }
}
