---
// SPDX-FileCopyrightText: 2026 mucookul <mucookul@gmail.com>
//
// SPDX-License-Identifier: AGPL-3.0-only

import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout frontmatter={{ title: "404" }}>
    <div class="grid min-h-full place-items-center">
        <div class="grid">
            <p>oops! looks like you got lost :(</p>
            <a
                href="/"
                class="w-full rounded-lg bg-red-300 px-3 py-1.5 text-black no-underline dark:bg-red-500 dark:text-white">
                return home
            </a>
        </div>
    </div>
</BaseLayout>
