---
// Copyright (C) 2026 mucookul
// SPDX-License-Identifier: AGPL-3.0-only

import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout frontmatter={{ title: "about" }}>
    <p>open source &gt; black boxes</p>
    <h4 class="text-red-500 dark:text-red-400">philosophy</h4>
    <ul>
        <li>simplicity before cleverness</li>
        <li>correctness before convenience</li>
        <li>consistency before speed</li>
        <li>explicitness before ambiguity</li>
    </ul>
    <hr />
    <h4 class="text-red-500 dark:text-red-400">hobbies</h4>
    <ul>
        <li>tinkering (like literally what makes a clock tick)</li>
        <li>programming (hey, it's easier than real languages)</li>
        <li>learning (<u>obsessively</u>)</li>
        <li>reading (better be a good book)</li>
    </ul>
    <hr />

    <h4 class="text-red-500 dark:text-red-400">proficient</h4>
    <ul>
        <li>html</li>
        <li>css</li>
        <li>javascript / typescript</li>
        <li>zig</li>
    </ul>
    <h4 class="text-red-500 dark:text-red-400">comfortable</h4>
    <ul>
        <li>go</li>
        <li>python</li>
        <li>rust</li>
    </ul>
    <h4 class="text-red-500 dark:text-red-400">learning</h4>
    <ul>
        <li>odin</li>
    </ul>
</BaseLayout>
