---
// Copyright (C) 2026 mucookul
// SPDX-License-Identifier: AGPL-3.0-only

import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

type BlogPost = CollectionEntry<"blog">;

const unsortedPosts: BlogPost[] = await getCollection("blog");
const sortedPosts = unsortedPosts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const postsByYear: Record<number, BlogPost[]> = sortedPosts.reduce<
    Record<number, BlogPost[]>
>((accumulator, post) => {
    const year = post.data.date.getFullYear();

    (accumulator[year] ??= []).push(post);
    return accumulator;
}, {});

const years = Object.entries(postsByYear).sort(
    ([a], [b]) => Number(b) - Number(a),
);
---

<BaseLayout frontmatter={{ title: "posts" }}>
    {
        years.length === 0 && (
            <h4 class="text-red-500 dark:text-red-400">
                no posts yet! check back later... or not
            </h4>
        )
    }

    <div class="grid gap-12">
        {
            years.map(([year, posts]) => (
                <section>
                    <h2 class="mt-0 mb-2">{year}</h2>
                    <ul class="not-prose grid gap-4">
                        {posts.map((post) => (
                            <li>
                                <a href={`/blog/${post.id}`} class="group">
                                    <span class="flex gap-4">
                                        <p>
                                            {post.data.date
                                                .toLocaleDateString("en-US", {
                                                    month: "short",
                                                    day: "numeric",
                                                })
                                                .toUpperCase()}
                                        </p>
                                        <div>
                                            <p class="text-red-500 transition-all duration-500 dark:text-red-400">
                                                {post.data.title}
                                            </p>
                                            <span class="transition-color block h-px -translate-y-1.5 bg-red-500 opacity-0 duration-100 group-hover:opacity-100 dark:bg-red-400" />
                                        </div>
                                    </span>
                                    <p class="line-clamp-3 text-neutral-500 dark:text-neutral-400">
                                        {post.data.description}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                </section>
            ))
        }
    </div>
</BaseLayout>
