---
// Copyright (C) 2026 mucookul
// SPDX-License-Identifier: AGPL-3.0-only
---

<nav
    class="sticky top-0 flex w-full items-center justify-between bg-white p-2 dark:bg-black">
    <a
        href="/"
        class="p-2 text-[22px] font-bold transition-colors duration-150 hover:text-red-500 hover:dark:text-red-400">
        mucookul
    </a>
    <div>
        <a
            href="/about"
            class="p-2 transition-colors duration-150 hover:text-red-500 hover:dark:text-red-400">
            about
        </a>
        <a
            href="/posts"
            class="p-2 transition-colors duration-150 hover:text-red-500 hover:dark:text-red-400">
            posts
        </a>
    </div>
</nav>
